<div class="container">
  <div class="center">
    <p>This records all your posted photos with the #moments tag.</p>
    <a class="btn btn-primary" href="auth">Connect to Instagram!</a>
  </div>
</div>